.l-main-section
  h2 Npmsafe Projects
  p We'd love for you to contribute to our source code and to make Npmsafe projects even better.

  .l-sub-section
    h3 Npmsafe

    p Npmsafe is a tool to make npm safety.

    //a(href="https://github.com/ueqt/npmsafe/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Npmsafe

