
.grid-fluid.l-space-bottom-8
  .c3.text-center
    .sticker <span class="sticker-icon"></span>
  .c7
    h3.text-headline.text-uppercase  Background
    p.text-body.
      TODO
    

!= partial("/_includes/_cta-bar")
