.main-footer
  nav.background-silver.grid-fluid

    .c3.main-footer-branding
      .logo-inverse-large

    .c2
      h3.text-headline LIBRARIES

      ul.text-body
        li <a href="/"> Npmsafe</a>

    .c2
      h3.text-headline LEARN

      ul.text-body
        li <a href="/docs/js/latest/quickstart.html"> 5 Min Quickstart</a>
        li <a href="/docs/js/latest/resources.html"> Resources</a>
        li <a href="/docs/js/latest/api.html"> Full API</a>
        //li <a href="http://goo.gl/sj0Nk1">Design Docs &amp; Notes</a>

    .c2
      h3.text-headline HELP

      ul.text-body
        li <a href="https://groups.google.com/d/forum/npmsafe"> Google Group</a>
        li <a href="https://gitter.im/ueqt/npmsafe?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"> Chat Room</a>
        li <a href="https://github.com/ueqt/npmsafe/issues"> Report an Issue</a>

    .c3
      h3.text-headline COMMUNITY

      ul.text-body
        li <a href="https://twitter.com/ueqtxu_ueqt"> Twitter</a>
        li <a href="https://github.com/ueqt/npmsafe"> GitHub</a>


  footer(class="background-steel")
    small.text-caption Powered by Ueqt ©2015. Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" class="text-snow">Apache License, Version 2.0</a>. Documentation licensed under <a class="text-snow" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
