.l-main-section
  h2 Get Help Using Npmsafe

  p.
    We have an incredible community of developers who are passionate about solving problems.
    We recommend some of the following methods to get help with Npmsafe.


  .l-sub-section
    h3 Npmsafe Google Group

    ol
      li.
        Search the archive first.
        It's likely that your question has already been answered.
      li.
        To avoid the spam moderation queue,
        don't include code directly in your email. (See #3)
      li.
        If you get help, help others. Good karma rulez!

    a(href="https://groups.google.com/d/forum/npmsafe" class="button button-primary" md-button) View the Google Group

  .l-sub-section
    h3 Npmsafe Chat Room

    p Talk in real time with Npmsafe developers.

    a(href="https://gitter.im/ueqt/npmsafe?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" class="button button-primary" md-button) View the Chat Room


  .l-sub-section
    h3 Report an Issue

    p If you run into an issue or have a feature request, you can create a new issue on our GitHub repository.

    a(href="https://github.com/ueqt/npmsafe/issues" class="button button-primary" md-button) Report an Issue
